.feedback-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/024/053/034/small/blue-cat-flying-with-his-gadget-in-the-sky-background-free-vector.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-card {
  width: 600px;
  background: rgba(255,255,255,0.95);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

.feedback-card h1 {
  text-align: center;
  margin-bottom: 25px;
}

.question-block {
  margin-bottom: 18px;
}

.question-block label {
  display: block;
  font-weight: 700;
  margin-bottom: 8px;
}

.question-block input,
.question-block textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ddd;
}

textarea {
  height: 80px;
  resize: none;
}

.option-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 6px 0;
}

.star-group {
  display: flex;
  gap: 8px;
  font-size: 1.8rem;
  cursor: pointer;
}

.star {
  color: #ccc;
}

.star.selected {
  color: #ffca28;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #673ab7;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.thankyou-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
